//------------------------------
// Default styles
//------------------------------
@import 'variables';

h1,
h2,
h3{
	font-family: Roboto, sans-serif;;
	font-weight: 300;
}

body{
	background-color: $main-bg-color;
    color: $main-text-color;
}
