//------------------------------
// Main styles
//------------------------------

// Imports
@import 'reset';
@import 'variables';
@import 'default';

// Base styles
.main-section{
	position: relative;
	height: 100vh;

	background-color: $main-bg-color;
	z-index: 1;

	&-container{
		@extend .center;

		position: fixed;
		height: 100px;
		z-index: 1;

		// Center the main text (without the bg-image)
		@media only screen and (max-width: 1199px){
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
		// Position the main text aside the bg image
		@media only screen and (min-width: 1200px) {
			top: 300px;
			left: 200px;
	    }
	}

	&__title,
	&__subtitle{
		@extend .center;
		font-size: 2.5em;
	}

	&__subtitle{
		font-size: 1.5em;
		font-weight: 100;
	}
	// The background image appears only in large devices
	@media only screen and (min-width: 1200px) {
		background: url('../img/bg.jpg') no-repeat center center fixed;
		background-size: cover;
    }
}

.quotes-section{
	position: relative;
	padding: 120px 0;

	background-color: $second-bg-color;
	z-index: 10;


	&__quote{
		@extend .center;
		@extend .margin-center;

		max-width: 1000px;
		padding: 0 50px;

		color: $main-bg-color;
	}
}

.line-break{
	width: 100px;
	margin: 60px auto;
}

.footer{
	background-color: $main-bg-color;

	&__text{
		max-width: 700px;
		padding: 85px 10%;
		box-sizing: content-box;

		&_podcast_link:hover{
			color: $podcast-color;
		}

		&_medium_link:hover{
			color: $medium-color;
		}

		&_twitter_link:hover{
			color: $twitter-color;
		}

		&_instagram_link:hover{
			color: $instagram-color;
		}
	}
}
