//------------------------------
// Variables
//------------------------------

.center{
	text-align: center;
}

.margin-center{
	margin: 0 auto;
}

//------------------------------
// Colors
//------------------------------
$main-text-color: #C1C1C1;
$main-bg-color: #121212;
$second-bg-color: #FFF;
$podcast-color: #9E40D4;
$medium-color: #00AB6C;
$twitter-color: #55ACEE;
$instagram-color: #A77D63;
