//------------------------------
// Main styles
//------------------------------

// Imports
@import "reset";
@import "variables";
@import "default";

// Base styles
.main-section{

	background-color: @main-bg-color;

	position: relative;
	z-index: 1;

	height: 100vh;

	&-container{
		z-index: 1;
		height: 100px;
		position: fixed;

		.center;
		// Center the main text (without the bg-image)
		@media only screen and (max-width: 1199px){
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		// Position the main text aside the bg image
		@media only screen and (min-width: 1200px) {
			top: 300px;
			left: 200px;
	    }
	}
	&__title,
	&__subtitle{
		font-size: 2.5em;
		.center;
	}
	&__subtitle{
		font-size: 1.5em;
		font-weight: 100;
	}
	// The background image appears only in large devices
	@media only screen and (min-width: 1200px) {
		background: url('../img/bg.jpg') no-repeat center center fixed;
		background-size: cover;
    }
}
.quotes-section{
	padding: 120px 0;
	background-color: @second-bg-color;

	z-index: 10;
	position: relative;

	&__quote{
		color: @main-bg-color;
		.center;

		max-width: 1000px;

		.margin-center;
		padding: 0 50px;
	}
}
.line-break{
	width: 100px;

	margin: 60px auto;
}
.footer{
	background-color: @main-bg-color;

	&__text{
		box-sizing: content-box;
		max-width: 700px;
		padding: 85px 10%;

		&_podcast:hover{
			color: @podcast-color;
		}
		&_medium:hover{
			color: @medium-color;
		}
		&_twitter:hover{
			color: @twitter-color;
		}
		&_instagram:hover{
			color: @instagram-color;
		}
	}
}
