<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Tobias Van Shneider</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<header class="header">
			<h1 class="header__text">Tobias Van Schneider</h1>
		</header>
		<section>
			<div class="image-section">
				<img class="image-section__img" src="img/tobias-fullscreen-img.jpg">
			</div>
			<div class="phrases-section">
				<div class="phrases-section__container">
					<h2>“We often believe that having a tight schedule makes things more predictable and controlled, but in reality we give away any control we have. Not having ownership over my own schedule seems like a nightmare to me.”</h2>
					<hr class="line-separator">
				</div>
				<div class="phrases-section__container">
					<h2>“Simply said: Procrastination is my ultimate productivity hack. I try to embrace it instead of getting rid of it.”</h2>
					<hr class="line-separator">
				</div>
				<div class="phrases-section__container">
					<h2>“The important thing to know is that no one really wants to know how you are. Saying “How are you” is just a saying, so you better not answer with how much of a shitty day you had, because thats awkward.”</h2>
				</div>
			</div>
		</section>
		<footer class="footer">
			<h3 class="footer__text">If you are interested, you definetly should listen to him on <a href="http://www.vanschneider.com/show/" class="link--podcast">“The NTMY Show”</a>, read his blog on <a href="https://medium.com/@vanschneider" class="link--medium">Medium</a> or follow him in <a class="link--twitter" href="https://twitter.com/vanschneider?lang=es">Twitter</a> and <a href="https://www.instagram.com/vanschneider/" class="link--instagram">Instagram</a>.</h3>
		</footer>
	</body>
</html>
